body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url('moroccan-flower-dark.png') no-repeat center/cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-grow: 1;
}

section, aside {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

section {
    flex: 3;
    display: flex;
    flex-direction: column;
}

aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

aside img {
    width: 100px;
    height: auto; 
    margin: 5px; 
}
section img {
    align-self: center;
    width: 500px;
    height: auto;
    margin-bottom: 20px;
}
